.login__page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.form__login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 40%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}
.form__login-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 60%;
  margin-bottom: 2rem;
}
.form__login-group input {
  width: 100%;
  height: 2rem;
  font-size: 1.15rem;
  border: none;
  background-color: #eaeaea;
  margin-top: 10px;
  padding: 0 8px;
}
.form__login-group input:focus {
  outline: #0e5b92;
}
.form__login-button {
  width: 60%;
  background-color: #0e5b92;
  font-size: 1.15rem;
  color: white;
  padding: 0.5rem 0;
  border: none;
  border-radius: 4px;
  transition: all 0.3s;
}
.form__login-button:hover {
  transform: scale(1.04);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}
.form__login-button:active {
  transform: scale(1);
}
/* Dashboard side bar design implementation */
.dash {
  display: flex;
  position: relative;
  height: 100vh;
}
.dash-container {
  margin-left: 20px;
  flex-grow: 1;
}
.dash-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 190px;
  height: 100%;
  padding: 0 30px;
  /* border-right: 1px solid lightblue; */
  background-color: #002436;
}
.dash-nav__items {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.dash-nav__items h1 {
  text-align: center;
  color: white;
}
.dash-nav__items-group {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 30px;
}
.dash-nav__items-group p {
  margin-left: 10px;
  text-decoration: none;
}

.dash-nav__items-link {
  color: white;
  margin: 5px 0;
}
.dash-nav__items-link:hover {
  color: black;
}
@media screen and (max-width: 600px) {
  .dash-nav {
    display: none;
    /* width: 10vw; */
  }
  .dash {
    flex-direction: column;
  }
  .form__login {
    width: 95%;
    height: 90%;
  }
  .form__login-group {
    width: 80%;
  }
}
.dashboard-main_right-card {
  width: 100%;
  height: fit-content;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
